
{% extends 'base.html' %}
{% block content %}
<h2>{{ t('create_user') }}</h2>
<form method="post">
<select name="user_group_id">
{% for g in groups %}
<option value="{{g.id}}">{{g.name}}</option>
{% endfor %}
</select><br>
<input name="user_name" placeholder="{{ t('username') }}"><br>
<input name="name" placeholder="{{ t('name') }}"><br>
<input name="email_address" placeholder="{{ t('email') }}"><br>
<input name="phone_number" placeholder="{{ t('phone') }}"><br>

<label><input type="radio" name="password_choice" value="auto" checked>
{{ t('auto_password') }}</label>

<label><input type="radio" name="password_choice" value="manual">
{{ t('manual') }}</label>

<input name="password_manual" placeholder="{{ t('manual_password') }}"><br>

<label><input type="checkbox" name="send_email_flag" value="yes"> {{ t('notify_email') }}</label><br>

<button>{{ t('submit') }}</button>
</form>
{% endblock %}
