
{% extends 'base.html' %}
{% block content %}
<h2>{{ t('users') }}</h2>
<a href="/users/create">{{ t('create_user') }}</a><br><br>
<table>
<tr><th>{{ t('id') }}</th><th>{{ t('username') }}</th><th>{{ t('email') }}</th><th>{{ t('phone') }}</th><th>{{ t('actions') }}</th></tr>
{% for u in users %}
<tr>
<td>{{u.id}}</td>
<td>{{u.user_name}}</td>
<td>{{u.email_address}}</td>
<td>{{u.phone_number}}</td>
<td>
<form method="post" action="/users/delete">
<input type="hidden" name="user_id" value="{{u.id}}">
<button>{{ t('delete') }}</button>
</form>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
